<ul class="unselectable group{{if disabled}} notallowed{{/if}}">
    {{set cdn='//img.alicdn.com/tfs/'}}
    <li class="fl group-item"　title="{{=i18n('@{menu.add.rows.above}')}}" mx-click="@{set}({type:'rt'})">
        <img class="img" src="{{=cdn}}TB1CxUfuTqWBKNjSZFAXXanSpXa-200-200.svg"/>
     </li>
    <li class="fl group-item" title="{{=i18n('@{menu.add.rows.below}')}}" mx-click="@{set}({type:'rb'})">
        <img class="img" src="{{=cdn}}TB1w9NvuP7nBKNjSZLeXXbxCFXa-200-200.svg"/>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.add.cols.before}')}}" mx-click="@{set}({type:'cb'})">
        <img class="img" src="{{=cdn}}TB1ylQtuRsmBKNjSZFsXXaXSVXa-200-200.svg"/>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.add.cols.after}')}}" mx-click="@{set}({type:'ca'})">
        <img class="img" src="{{=cdn}}TB1efU6uOMnBKNjSZFCXXX0KFXa-200-200.svg"/>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.delete.current.rows}')}}" mx-click="@{set}({type:'r'})">
        <img class="img" src="{{=cdn}}TB16QchuRsmBKNjSZFFXXcT9VXa-200-200.svg"/>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.delete.current.cols}')}}" mx-click="@{set}({type:'c'})">
        <img class="img" src="{{=cdn}}TB13fs.uHArBKNjSZFLXXc_dVXa-200-200.svg"/>
    </li>
</ul>
<ul class="unselectable group{{if disabled}} notallowed{{/if}}" style="display:block">
    <li class="fl group-item" title="{{=i18n('@{menu.cell.merge.left}')}}" mx-click="@{cell}({type:'ml'})">
        <i class="iconfont r180">&#xe603;</i>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.cell.merge.right}')}}" mx-click="@{cell}({type:'mr'})">
        <i class="iconfont">&#xe603;</i>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.cell.merge.up}')}}" mx-click="@{cell}({type:'mu'})">
        <i class="iconfont r270">&#xe603;</i>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.cell.merge.down}')}}" mx-click="@{cell}({type:'md'})">
        <i class="iconfont r90">&#xe603;</i>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.cell.h.split}')}}" mx-click="@{cell}({type:'sh'})">
        <i class="iconfont">&#xe672;</i>
    </li>
    <li class="fl group-item" title="{{=i18n('@{menu.cell.v.split}')}}" mx-click="@{cell}({type:'sv'})">
        <i class="iconfont r90">&#xe672;</i>
    </li>
</ul>