<div class="logo">
    <div class="fl logo-cnt">
        <i class="iconfont mr10">&#xe63c;</i>{{=i18n('@{site.title}')}}&trade;
    </div>
    <div class="fl t-name">{{=name}}
        <mx-vframe src="./core/draft" *lang="{{=lang}}" id="draft_{{=vId}}" tag="span" class="save-tip"/></div>
    <div class="fr mr20" id="header_btns">
        <button class="header-btn mr20" mx-click="@{save}()">{{=i18n('@{btn.save}')}}</button>
        <button class="header-btn" mx-click="@{change.lang}()">{{if lang=='en-us'}}中文{{else}}EN{{/if}}</button>
    </div>
</div>
<div class="body">
    <mx-vframe src="./core/toolbox" id="toolbox_{{=vId}}" class="hp100 fl unselectable" />
    <div class="canvas fl{{if anim}} canvas-anim{{/if}}{{if collapse}} canvas-toolbox-collapse{{/if}}" id="canvas_{{=vId}}">
        <mx-vframe src="./core/toolbar" class="toolbar unselectable" />
        <mx-vframe src="./core/axis?cnt={{=vId}}_stage" class="pr unselectable"/>
        <mx-vframe src="./core/stage" id="{{=vId}}_stage" class="stage unselectable stage-deactive" />
    </div>
    <mx-vframe src="./core/property" id="property_{{=vId}}" class="hp100 fr"/>
</div>