{{let bar=4;}}
{{let hbar=12}}
{{let mmToPixed=scale*3.7795275593333;}}
{{let space=20}}
{{let step=2*mmToPixed}}
{{let temp;}}
{{let barColor='#aaa;'}}

<div class="y-axis-help" style="top:-{{=sTop}}px" id="{{=vId}}_y_help">
    {{if draw}}
    {{each yHelpers as help}}
        {{set current=mmToPixed*(Math.abs(toMM(yStart))+help.mm)+20}}
        <div class="y-axis-help-line" style="width:{{=vWidth}}px;top:{{=current}}px;">
            <i class="iconfont y-help-line-icon" title="删除当前辅助线" mx-click="@{delete.help.line}({type:'y',id:'{{=help.id}}'})">&#xe600;</i>
            <span class="y-help-line-text">{{=help.mm}}</span>
            <span class="y-help-line-move" mx-mousedown="@{drag.help.line}({type:'y',id:'{{=help.id}}',c:{{=current}}})" title="按下拖动可调整辅助线位置"></span>
        </div>
    {{/each}}
    {{/if}}
</div>
<div class="x-axis-help" style="left:-{{=sLeft}}px" id="{{=vId}}_x_help">
    {{if draw}}
    {{each xHelpers as help}}
        {{set current=mmToPixed*(Math.abs(toMM(xStart))+help.mm)}}
        <div class="x-axis-help-line" style="height:{{=vHeight}}px;left:{{=current}}px;">
            <i class="iconfont x-help-line-icon" title="删除当前辅助线" mx-click="@{delete.help.line}({type:'x',id:'{{=help.id}}'})">&#xe600;</i>
            <span class="x-help-line-text">{{=help.mm}}</span>
            <span class="x-help-line-move" mx-mousedown="@{drag.help.line}({type:'x',id:'{{=help.id}}',c:{{=current}}})"></span>
        </div>
    {{/each}}
    {{/if}}
</div>
<div mx-mousemove="@{show.x.line}()" mx-mouseout="@{hide.x.line}()" mx-click="@{add.x.help.line}()">
    <div class="x-axis" id="{{=vId}}_x">
        <div style="width:{{=width}}px;height:100%">
            {{if draw}}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{=width}} 20" style="cursor:default;">
                {{for(let i=0;i<xStart;i+=step)}}
                {{temp=toMM(i)}}
                {{if temp%space===0}}
                <rect width="1" height="{{=hbar}}" x="{{=xStart-i)}}" y="{{=20-hbar-1}}" style="fill:{{=barColor}};"/>
                <text x="{{=xStart-i+2}}" y="14" style="font-size:10px;fill:#999;">{{=temp===0?0:-temp}}</text>
                {{else}}
                <rect width="1" height="{{=bar}}" x="{{=xStart-i}}" y="{{=20-bar-1}}" style="fill:{{=barColor}};"/>
                {{/if}}
                {{/for}}
                {{for(let i=step;i<xEnd;i+=step)}}
                {{temp=toMM(i)}}
                {{if temp%space===0}}
                <rect width="1" height="{{=hbar}}" x="{{=xStart+i)}}" y="{{=20-hbar-1}}" style="fill:{{=barColor}};"/>
                <text x="{{=xStart+i+2}}" y="14" style="font-size:10px;fill:#999;">{{=temp}}</text>
                {{else}}
                <rect width="1" height="{{=bar}}" x="{{=xStart+i}}" y="{{=20-bar-1}}" style="fill:{{=barColor}};"/>
                {{/if}}
                {{/for}}
            </svg>
            {{/if}}
        </div>
    </div>
    <div class="x-line" id="{{=vId}}_x_line" style="height:{{=vHeight+20}}px">
        <span class="x-tip"></span>
    </div>
</div>
<div mx-mousemove="@{show.y.line}()" mx-mouseout="@{hide.y.line}()" mx-click="@{add.y.help.line}()">
    <div class="y-axis" style="height:{{=vHeight}}px;" id="{{=vId}}_y">
        <div style="height:{{=height}}px;">
            {{if draw}}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 {{=height}}" style="cursor:default">
                {{for(let i=0;i<yStart;i+=step)}}
                {{temp=toMM(i)}}
                {{if temp%space===0}}
                <rect width="{{=hbar}}" height="1" x="{{=20-hbar}}" y="{{=yStart-i)}}" style="fill:{{=barColor}};"/>
                <text x="14" y="{{=yStart-i+2}}" style="font-size:10px;fill:#999;" transform="rotate(-90,13,{{=yStart-i}})">{{=temp===0?0:-temp}}</text>
                {{else}}
                <rect width="{{=bar}}" height="1" x="{{=20-bar}}" y="{{=yStart-i}}" style="fill:{{=barColor}};"/>
                {{/if}}
                {{/for}}
                {{for(let i=step;i<yEnd;i+=step)}}
                {{temp=toMM(i)}}
                {{if temp%space===0}}
                <rect width="{{=hbar}}" height="1" x="{{=20-hbar}}" y="{{=yStart+i)}}" style="fill:{{=barColor}};"/>
                <text x="14" y="{{=yStart+i}}" style="font-size:10px;fill:#999;;" transform="rotate(-90,13,{{=yStart+i-2}})">{{=temp}}</text>
                {{else}}
                <rect width="{{=bar}}" height="1" x="{{=20-bar}}" y="{{=yStart+i}}" style="fill:{{=barColor}};"/>
                {{/if}}
                {{/for}}
            </svg>
            {{/if}}
        </div>
    </div>
    <div class="y-line" id="{{=vId}}_y_line" style="width:{{=vWidth+20}}px">
        <span class="y-tip"></span>
    </div>
</div>
<div class="corner"></div>