{{if hoverElement}}
    {{let ctor=hoverElement.ctor;}}
    {{let props=hoverElement.props;}}
    {{set xy=transformCoord(props)}}
    <div class="pa" style="{{if props.rotate}}transform:rotate({{=props.rotate}}deg);{{/if}}left:{{=xy.x-space}}px;top:{{=xy.y-space}}px;width:{{=props.width+2*space}}px;height:{{=props.height+2*space}}px;border:solid 1px red;z-index:9998">
        
    </div>
{{/if}}
{{if showRect}}
    <div style="border:dashed 1px #666;pointer-events:none;display:{{if showRect}}block{{else}}none{{/if}};left:{{=rectX}}px;top:{{=rectY}}px;width:{{=rectWidth}}px;height:{{=rectHeight}}px;z-index:9999;" class="pa">
        <div style="width:100%;height:100%;background:#000;opacity:0.02"></div>
    </div>
{{/if}}