{{each rows as row ri}}
    {{if row.tag=='tr'}}
            {{each row.cells as cell ci}}
                {{if cell.tag=='td'}}
                    {{if cell.children&&cell.children.length}}
                    <div class="p-table-td" mx-view="gallery/mx-dragsort/index" view-selector=".@:(p-table-element-icon)" mx-dragfinish="@{sort.finish}({cell:{{@cell}}})">
                        {{set sortedChildren=sorted(cell.children)}}
                        {{each sortedChildren as e}}
                            <div class="p-element clearfix" title="{{=e.props.tip}}" mx-mouseover="@{fake.active}({element:{{@e}},cellId:'{{=eId}}_c_{{=ri}}_{{=ci}}',cell:{{@cell}}})" data-eid="{{=e.id}}" mx-mouseout="@{fake.active}()">
                                <div class="fl p-table-element-icon" title="{{=i18n('@{property.press.drag.sort}')}}">
                                    {{!e.ctor.icon}}
                                </div>
                                <div class="p-table-desc clearfix">
                                    <div class="fl">
                                        {{=e.props.tip}}
                                    </div>
                                    <i title="{{=i18n('@{property.delete.element}')}}" class="iconfont p-del fr" mx-click="@{del}({id:'{{=e.id}}'})">&#xe600;</i>
                                </div>
                            </div>
                            {{if e.type=='table'}}
                                <mx-vframe src="./p-table" *e-id="{{=e.id}}" *rows="{{@e.props.rows}}"/>
                            {{/if}}
                        {{/each}}
                    </div>
                    {{/if}}
                {{/if}}
            {{/each}}
    {{/if}}
{{/each}}