<div class="box">
    <div class="group-title">
        {{if hasElement}}{{=i18n('@{property}')}}{{else}}{{=i18n('@{property.component.tree}')}}{{/if}}
    </div>
    {{if hasElement}}
    <ul class="box-panel">
        <li class="group-item">
            <span class="group-item-title">{{=i18n('@{property.type}')}}:</span>
            {{=i18n(title)}}
        </li>
        {{each props as prop}}
        {{if !prop.ifShow||prop.ifShow(data)}}
        <li class="group-item{{if prop.type==desc.SPLITER}} group-item-spliter{{/if}}">
            {{if prop.type!=desc.SPLITER}}
            <span class="group-item-title{{if prop.styleVTop}} vtop{{/if}}">{{=i18n(prop.tip)}}:</span>
            {{if prop.type==desc.LABEL}}
                {{=prop.read?prop.read(data[prop.key]):data[prop.key]}}
            {{else if prop.type==desc.INPUT}}
                <input class="input" value="{{=data[prop.key]}}" mx-input="@{prop.change}({key:'{{=prop.key}}',sync:{{@prop.sync}},refresh:{{@prop.refresh}}})" @disabled="{{=data.locked&&!prop.role}}" />
            {{else if prop.type==desc.TEXTAREA}}
                <textarea class="textarea" mx-input="@{prop.change}({key:'{{=prop.key}}'})" @disabled="{{=data.locked&&!prop.role}}" style="height:100px;">{{=data[prop.key]}}</textarea>
            {{else if prop.type==desc.NUMBER}}
                <mx-number value="{{@prop.read?prop.read(data[prop.key]):data[prop.key]}}" mx-input="@{prop.change}({key:'{{=prop.key}}',read:'value',write:{{@prop.write}},sync:{{@prop.sync}},refresh:{{@prop.refresh}}})" @min="{{=prop.min}}" @max="{{=prop.max}}" @step="{{=prop.step}}" @fixed="{{=prop.fixed}}" @#readonly="{{=data.locked||data[prop.key+'Locked'}}" @disabled="{{=data.locked||data.lockedX||data[prop.key+'Locked']}}" />
            {{else if prop.type==desc.DROPDOWN}}
                <mx-dropdown mx-change="@{prop.change}({key:'{{=prop.key}}',read:'value',refresh:{{@prop.refresh}}})" list="{{@prop.items}}" @text-key="{{=prop.textKey}}" @value-key="{{=prop.valueKey}}" selected="{{=data[prop.key]}}" @disabled="{{=data.locked}}"/>
            {{else if prop.type==desc.CELLDROPDOWN}}
                {{console.log(data.rows[data.rowIndex].cells[data.colIndex].hasBorder)}}
                <mx-dropdown mx-change="@{cell.border.change}()" list="{{@prop.items}}" @text-key="text" @value-key="value" selected="{{=data.rows[data.rowIndex].cells[data.colIndex].hasBorder}}" @disabled="{{=data.locked}}"/>
            {{else if prop.type==desc.IMAGE}}
                <mx-picture class="ib" mx-change="@{image.change}({key:'{{=prop.key}}',updateSize:{{=prop.updateSize}}})" pic="{{=data[prop.key]}}" *lang="{{=lang}}" @disabled="{{=data.locked}}" />
            {{else if prop.type==desc.ORIGINSIZE}}
                <button @disabled="{{=data.locked}}" type="button" class="btn editor-btn" mx-click="@{set.origin.size}()">{{=i18n('@{property.image.size}')}}</button>
            {{else if prop.type==desc.BOOLEAN}}
                <input type="checkbox" class="switch" mx-change="@{prop.change}({key:'{{=prop.key}}',bool:true,write:{{@prop.write}},refresh:{{@prop.refresh}}})" @checked="{{=data[prop.key]}}" @disabled="{{=data.locked&&!prop.role||data.barred}}" />
            {{else if prop.type==desc.LINEHEIGHT}}
                <mx-font.lineheight @disabled="{{=data.locked}}" mx-input="@{prop.change}({key:'{{=prop.key}}',read:'value'})" @min="{{=prop.min}}" value="{{@data[prop.key]}}" class="ib"/>
            {{else if prop.type==desc.FONTSTYLE}}
                <mx-font.style @disabled="{{=data.locked}}" mx-input="@{prop.change}({key:'{{=prop.key}}',read:'value'})" value="{{@data[prop.key]}}" class="ib"/>
            {{else if prop.type==desc.FONTALIGN}}
                <mx-font.align @disabled="{{=data.locked}}" mx-input="@{prop.change}({key:'{{=prop.key}}',read:'value'})" value="{{@data[prop.key]}}" class="ib"/>
            {{else if prop.type==desc.CELLOPERATE}}
                <mx-cell @disabled="{{=data.locked||data.__invalid}}" mx-change="@{cell.change}()" props="{{@data}}" class="ib"/>
            {{else if prop.type==desc.CELLSIZE}}
                <mx-cell.size @disabled="{{=data.locked||data.__invalid}}" mx-change="@{cell.change}()" props="{{@data}}" class="ib"/>
            {{else if prop.type==desc.CELLFOCUS}}
                <mx-cell.focus @disabled="{{=data.locked||data.__invalid}}" mx-change="@{cell.change}({ui:true})" props="{{@data}}" class="ib"/>
            {{else if prop.type==desc.CELLCOLSHARE}}
                <button @disabled="{{=data.locked||data.__invalid}}" type="button" class="btn editor-btn" mx-click="@{set.cell.share}({type:'x'})">{{=i18n('@{property.divide.width}')}}</button>
            {{else if prop.type==desc.CELLROWSHARE}}
                <button @disabled="{{=data.locked||data.__invalid}}" type="button" class="btn editor-btn" mx-click="@{set.cell.share}({type:'y'})">{{=i18n('@{property.divide.height}')}}</button>
            {{/if}}
            {{/if}}
        </li>
        {{/if}}
        {{/each}}
    </ul>
    {{else}}
    <ul mx-view="gallery/mx-dragsort/index" view-selector="li .@:(icon)" class="unselectable box-panel" mx-dragfinish="@{sort.finish}()">
        {{for(let index=elements.length;index--)}}
        {{let element=elements[index];}}
        <li class="group-item pl10 clearfix group-item-drag" data-eid="{{=element.id}}" id="{{=vId}}_{{=element.id}}">
            <div class="clearfix" mx-mouseover="@{fake.active}({element:{{@element}}})" mx-mouseout="@{fake.active}()">
                <div class="icon fl mr5" title="{{=i18n('@{property.press.drag.sort}')}}">
                    {{!element.ctor.icon}}
                </div>
                <div class="fl clearfix desc">
                    <div class="fl text" title="{{=element.props.tip}}">
                        {{=element.props.tip}}
                    </div>
                    <i title="{{=i18n('@{property.delete.element}')}}" class="iconfont fl del" mx-click="@{del}({id:'{{=element.id}}'})">&#xe600;</i>
                </div>
            </div>
            {{if element.type=='table'}}
                <mx-vframe src="./p-table" *e-id="{{=element.id}}" *rows="{{@element.props.rows}}" class="p-table"/>
            {{/if}}
        </li>
        {{/for}}
    </ul>
    {{/if}}
</div>