<div class="items clearfix unselectable pr">
    <div class="fl hp100">
        <i class="iconfont item{{if !hs.canUndo}} icon-disabled{{/if}}" title="{{=i18n('@{menu.undo}')}}(Ctrl+Z)"{{if hs.canUndo}} mx-click="@{set.history}({type:'undo'})"{{/if}}>&#xe682;</i>
        <i class="iconfont item flipx{{if !hs.canRedo}} icon-disabled{{/if}}" title="{{=i18n('@{menu.redo}')}}(Ctrl+Y)"{{if hs.canRedo}} mx-click="@{set.history}({type:'redo'})"{{/if}}>&#xe682;</i>
        <i class="spliter"></i>
        <i class="iconfont item" title="{{=i18n('@{menu.new}')}}" mx-click="@{new}()">&#xe615;</i>
        <i class="iconfont item" mx-click="@{save}()" title="{{=i18n('@{xml.code}')}}">&#xe611;</i>
        <i class="iconfont item" mx-click="@{test.templates}()" title="{{=i18n('@{template.title}')}}">&#xe601;</i>
        {{if canCenter()}}
        <i class="spliter"></i>
        <i class="iconfont item" mx-click="@{align}({action:'put',to:'vc'})" title="{{=i18n('@{align.stage.v.c}')}}">&#xe679;</i>
        <i class="iconfont item r90" mx-click="@{align}({action:'put',to:'hc'})" title="{{=i18n('@{align.stage.h.c}')}}">&#xe679;</i>
        {{/if}}
        {{if canAvg()}}
        <i class="iconfont item r90" mx-click="@{align}({action:'avg',to:'av'})" title="{{=i18n('@{avg.v.c}')}}">&#xe604;</i>
        <i class="iconfont item" mx-click="@{align}({action:'avg',to:'ah'})" title="{{=i18n('@{avg.h.c}')}}">&#xe604;</i>
        {{/if}}
        {{if selectCount>1}}
        <i class="spliter"></i>
        <i class="iconfont item" mx-click="@{align}({to:'left'})" title="{{=i18n('@{align.left}')}}">&#xe70b;</i>
        <i class="iconfont item" mx-click="@{align}({to:'hcenter'})" title="{{=i18n('@{align.h.c}')}}">&#xe711;</i>
        <i class="iconfont item" mx-click="@{align}({to:'right'})" title="{{=i18n('@{align.right}')}}">&#xe70c;</i>
        <i class="iconfont item" mx-click="@{align}({to:'top'})" title="{{=i18n('@{align.top}')}}">&#xe70d;</i>
        <i class="iconfont item" mx-click="@{align}({to:'vcenter'})" title="{{=i18n('@{align.v.c}')}}">&#xe712;</i>
        <i class="iconfont item" mx-click="@{align}({to:'bottom'})" title="{{=i18n('@{align.bottom}')}}">&#xe70e;</i>
        <i class="spliter"></i>
        <i class="iconfont item" mx-click="@{align}({action:'same',to:'maw'})" title="{{=i18n('@{same.max.width}')}}">&#xe789;</i>
        <i class="iconfont item" mx-click="@{align}({action:'same',to:'miw'})" title="{{=i18n('@{same.min.width}')}}">&#xe788;</i>
        <i class="iconfont item r90" mx-click="@{align}({action:'same',to:'mah'})" title="{{=i18n('@{same.max.height}')}}">&#xe789;</i>
        <i class="iconfont item r90" mx-click="@{align}({action:'same',to:'mih'})" title="{{=i18n('@{same.min.height}')}}">&#xe788;</i>
        {{/if}}
    </div>
    {{set width=page.width===''?'':toMM(page.width)}}
    {{set height=page.height===''?'':toMM(page.height)}}
    <div class="bg pt10{{if !showBg}} none{{/if}}" id="bg_{{=vId}}">
        <div class="form-item clearfix">
            <label class="form-label">{{=i18n('@{paper.size}')}}：</label>
            <div class="form-content">
                <mx-number class="input num" value="{{=width}}" mx-input="@{set.value}({key:'width'})" min="{{=CNC.PAGE_WIDTH_MIN}}" fixed="2" max="{{=CNC.PAGE_WIDTH_MAX}}"/>
                <span class="ib gap">X</span>
                <mx-number class="input num" value="{{=height}}" mx-input="@{set.value}({key:'height'})" min="{{=CNC.PAGE_HEIGHT_MIN}}" fixed="2" max="{{=CNC.PAGE_HEIGHT_MAX}}"/>
            </div>
        </div>
        {{set header=page.header===''?'':toMM(page.header)}}
        {{set footer=page.footer===''?'':toMM(page.footer)}}
        <div class="form-item clearfix">
            <label class="form-label fl">{{=i18n('@{page.header}')}}：</label>
            <div class="form-content">
                <mx-number class="input num-hf" value="{{=header}}" mx-input="@{set.value}({key:'header'})" min="0" fixed="2" max="{{=CNC.PAGE_WIDTH_MAX}}"/>
                <span class="ib gap-hf">{{=i18n('@{page.footer}')}}：</span>
                <mx-number class="input num-hf" value="{{=footer}}" mx-input="@{set.value}({key:'footer'})" min="0" fixed="2" max="{{=CNC.PAGE_HEIGHT_MAX}}"/>
            </div>
        </div>
        <div class="form-item clearfix">
            <label class="form-label fl">{{=i18n('@{print.background}')}}：</label>
            <div class="form-content fl">
                <div class="ib btn btn-brand btn-bg">
                    {{=i18n('@{element.image.choose}')}}
                    <input class="file" accept="image/*" type="file" mx-change="@{set.bg.image}()"/>
                </div>
                {{if showBG}}
                <button class="btn ml5" mx-click="@{clear.bg.image}()">
                    {{=i18n('@{print.background.clear}')}}
                </button>
                {{/if}}
            </div>
        </div>
        {{if showBG}}
        <div class="form-item clearfix">
            <label class="form-label fl">{{=i18n('@{print.background.setting}')}}：</label>
            <div class="form-content fl">
                <label class="center mr10">
                    <input type="radio"{{if bgSize=='auto'}} checked{{/if}} name="bg.setting" class="mr5" mx-change="@{update.bg.size}({size:'auto'})"/>{{=i18n('@{print.background.setting.auto}')}}
                </label>
                <label class="center mr10">
                    <input type="radio"{{if bgSize=='page'}} checked{{/if}} name="bg.setting" class="mr5" mx-change="@{update.bg.size}({size:'page'})"/>{{=i18n('@{print.background.setting.page}')}}
                </label>
                <label class="center">
                    <input type="radio"{{if bgSize=='bg'}} checked{{/if}} name="bg.setting" class="mr5" mx-change="@{update.bg.size}({size:'bg'})"/>{{=i18n('@{print.background.setting.bg}')}}
                </label>
            </div>
        </div>
        {{/if}}
        <div class="form-item clearfix">
            <label class="form-label fl">{{=i18n('@{paper.splitable}')}}：</label>
            <div class="form-content fl">
                <input @checked="{{=page.splitable}}" class="switch" type="checkbox" mx-change="@{set.value}({key:'splitable'})"/>
            </div>
        </div>
        <div class="form-item clearfix">
            <label class="form-label fl">{{=i18n('@{paper.common}')}}：</label>
            <div class="form-content pages">
                {{each CNC.PAGES as pg}}
                    <div class="page{{if width==pg.width&&height==pg.height}} page-active{{/if}}"{{if width!=pg.width||height!=pg.height}} mx-click="@{set.page}({page:'{{@pg}}'})"{{/if}}>
                        {{=pg.text}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="fr">
        <div class="fl clearfix mr30">
            <i class="iconfont item" mx-click="@{do.zoom}({out:true})" title="{{=i18n('@{zoom.in}')}}">&#xe602;</i>
            <span class="ib fl mr5 tc" style="width:40px;">{{=(scale*100).toFixed(0)}}%</span>
            <i class="iconfont item" mx-click="@{do.zoom}()" title="{{=i18n('@{zoom.out}')}}">&#xe699;</i>
        </div>
        <span class="ib fl mr5">{{=Number(width).toFixed(2)}} x {{=Number(height).toFixed(2)}}</span>
        <i class="iconfont item{{if showBg}} item-active{{/if}}" title="{{=i18n('@{paper.setting}')}}" mx-click="@{set.stage}()" id="bgt_{{=vId}}">&#xe627;</i>
    </div>
</div>