<div class="dialog-header">
    <b class="mr10">{{=i18n('@{gallery.mx-picture.images.title}')}}</b>
    <!-- <span class="ml20">搜索图片：</span><input class="input search" mx-keyup="@{start.search}()" value="<%=keyword%>" /> -->
</div>
<div class="dialog-body">
    <!-- <label>
        {{=i18n('@{gallery.mx-picture.images.url}')}}：
    </label>
    <input class="input pic-url" /> -->
    <!-- <div tabindex="2" mx-paste="@{paste.upload}()">adfadsf</div> -->
    <div class="clearfix pl5 pr5">
        <input class="input search-input fl" placeholder="{{=i18n('@{search.images}')}}" mx-input="@{search}()" value="{{=keyword}}" />
        <div class="upload-zone fl" mx-paste="@{paste.upload}()" mx-drop="@{drop.upload}()" tabindex="0" mx-dragenter="@{drag.enter}()" mx-dragleave="@{drag.leave}()">
            {{=i18n('@{upload.paste.image}')}}<i class="ib ml10 mr10">/</i>{{=i18n('@{upload.dd.image}')}}
        </div>
        <div class="ib btn btn-upload btn-brand fr">
            {{=i18n('@{upload.click}')}}
            <input class="file" accept="image/*" type="file" mx-change="@{select.upload}()" multiple="multiple"/>
        </div>
    </div>
    <!-- <div class="clearfix mb10">
        {{each pics as g index}}
        <div class="tab{{if index==active}} active{{/if}}" mx-click="@{active}({to:{{=index}}})">{{=g.title}}</div>
        {{/each}}
    </div>-->
    <div class="clearfix pics mt5">
        {{set renderedImage=0}}
        {{each list as pic}}
            {{if !keyword||pic.title.indexOf(keyword)>-1}}
            {{renderedImage=1}}
            <div class="fl" title="{{=pic.title}}">
                <div class="pic-container" mx-click="@{use}({src:'{{=pic.src}}'})">
                    <div class="pic" style="background-image:url('{{=pic.src}}')"></div>
                </div>
                <div class="tc pic-title ellipsis">{{=pic.title}}</div>
            </div>
            {{/if}}
        {{/each}}
        {{if !renderedImage&&keyword}}
            <div class="tc mt30 f16">
                {{=i18n('@{search.not.found.images}',keyword)}}
            </div>
        {{/if}}
        {{if error}}
            <div class="tc mt30 f16">{{=error.msg}}</div>
        {{/if}}
    </div>
</div>
<!-- <div class="dialog-footer clearfix">
    <button class="btn ml10 fr" mx-click="@{cancel}()">{{=i18n('@{btn.cancel}')}}</button>
    <button class="btn btn-brand fr" mx-click="@{enter}()">{{=i18n('@{btn.enter}')}}</button>
</div> -->